#myCarousel img {
    min-height: 300px;
    min-width: 100%;
}
#myCarousel > .carousel-indicators > li {
    border-radius: 0px;
    min-width: 25px;
    background-color: #9d9d9d;
    border: 1px solid black;
    margin-right: 10px;;
    margin-left: 10px;;
}
#myCarousel > .carousel-indicators > .active {
    background-color: orange;
}
#myCarousel .carousel-caption {
    text-align: center;
    max-width: 500px;
    left: auto;
    top: 30%;
    transform: translateY(-50%);
    bottom: initial;
}

#myCarousel .first-page{
    color: black;
    right: 10%;
}

#myCarousel .second-page{
    right: 10%;
}



.item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}





.carousel-caption{
    margin-left: 5%;
    top:10%;
    bottom: auto;
}

.carousel-inner .item{
    width: 100%;
    height: 100%;
}

#maintitle{
    margin-left: 5%;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: dodgerblue;
}


.outer_user_input{
    background-color: #dbdbdb;

}
.user_input{
    margin-top: 5%;
}

.user_input_inner{
    width: 100%;

}

.outer_info{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5%;
}

.query_class{
    display: inline-block;
    border:none;
    box-shadow: none;
    border-bottom: solid;
    border-color: #419641;
}

.query_class:focus{
    border-color: #5bc0de;
}