



<div ng-controller="controllerHome">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-analytics-outline"></i> Landing Zero</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#about">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Highlights</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- ==== SECTION DIVIDER1 -->
    <section class="section-divider textdivider divider1">
      <div class="container">
        <form class="form-horizontal" role="form">
          <div class="form-group">
              <h3> A little about our company </h3>
          </div>
         </form><!-- form -->
        <hr>
        <p></p>
      </div><!-- container -->
    </section><!-- section -->





      <!-- ==== GREYWRAP ==== -->
      <div id="greywrap" style="background-image: url('http://wallpapercave.com/wp/Ppd5MGG.jpg');">
        <div class="container">
          <h1>Irrigation for the Year ahead</h1>
          <div class="row" style="padding-left: 20%; padding-right: 20%;">
            <div class="col-md-11">
                <select class="form-control" ng-model="countyname" placeholder="Select a county" style="background-color: inherit !important; color: white;">
                    <option></option>
                    <option>Maricopa County, Arizona, Central Part</option>
                    <option>Fort Defiance Area, Parts of Apache and Navajo Counties, Arizona and McKinley and San Juan Counties, New Mexico</option>
                    <option>Santa Clara Area, California, Western Part</option>
                    <option>Western Riverside Area, California</option>
                    <option>Cherokee County, Texas</option>
                    <option>Duval County, Texas</option>
                </select><br/>
                <select class="form-control" ng-model="typeofplant" placeholder="Select type of plant" style="background-color: inherit !important; color: white;">
                    <option></option>
                    <option>lawn</option>
                    <option>shrubs</option>
                </select>
            </div>
            <div class="col-md-1">

            </div>
        <!-- </div> -->
          </div><!-- row -->
          <br>
          <br>
          <button class="btn btn-success" ng-click="getIrrigation()">Get Results</button>
          <br>
          <br>
          <div id="modelIrrigation" ng-model="modelIrrigation" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        </div>
        <br>
        <br>
      </div><!-- greywrap -->



    <!-- ==== SECTION DIVIDER6 ==== -->
    <section class="section-divider textdivider divider6">
      <div class="container">
        <h1>Get crop yeild</h1>
          <div class="row" style="padding-left: 20%; padding-right: 20%;">
            <div class="col-md-11">
                <select class="form-control" ng-model="countynameForCrop" placeholder="Select a county">
                    <option></option>
                    <option>Santa Clara Area, California, Western Part</option>
                    <option>Western Riverside Area, California</option>
                    <option>Maricopa County, Arizona, Central Part</option>
                    <option>Duval County, Texas</option>
                </select><br/>
                <select class="form-control" ng-model="area" placeholder="Select type of plant">
                    <option></option>
                    <option>5</option>
                    <option>10</option>
                </select>
            </div>
            <div class="col-md-1">

            </div>
        <!-- </div> -->
          </div><!-- row -->
          <br>
          <br>
          <button class="btn btn-success" ng-click="getCropYield()">Get Results</button>
          <br>
          <br>
          <div id="modelCropYeild" ng-model="modelCropYeild" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        <br>
        <br>
      </div><!-- container -->
    </section><!-- section -->



    <!-- ==== SECTION DIVIDER3 -->
    <section class="section-divider textdivider divider3">
      <div class="container">
        <h1>Crop Yield Non Irrigated</h1>
        <hr>
          <div class="row" style="padding-left: 20%; padding-right: 20%;">
            <div class="col-md-11">
                <select class="form-control" ng-model="countynameForCropNonIrrigation" placeholder="Select a county">
                    <option></option>
                    <option>Santa Clara Area, California, Western Part</option>
                    <option>Western Riverside Area, California</option>
                    <option>Maricopa County, Arizona, Central Part</option>
                    <option>Duval County, Texas</option>
                </select><br/>
                <select class="form-control" ng-model="areaForCropNonIrrigation" placeholder="Select type of plant">
                    <option></option>
                    <option>5</option>
                    <option>10</option>
                </select>
            </div>
            <div class="col-md-1">

            </div>
        <!-- </div> -->
          </div><!-- row -->
          <br>
          <br>
          <button class="btn btn-success" ng-click="cropNonIrrigated()">Get Results</button>
          <br>
          <br>
          <div id="modelCropYeildNonIrrigation" ng-model="modelCropYeildNonIrrigation" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
          <br>
          <br>
      </div><!-- container -->
    </section><!-- section -->




    <section class="section-divider textdivider divider3">
      <div class="container">
        <h1>Prevent soil irrigation</h1>
        <hr>
          <div class="row" style="padding-left: 20%; padding-right: 20%;">
            <div class="col-md-11">
                <select class="form-control" ng-model="countynameForSoilPrevention" placeholder="Select a county">
                    <option></option>
                    <option>Santa Clara Area, California, Western Part</option>
                    <option>Western Riverside Area, California</option>
                    <option value="Fort Defiance Area, Parts of Apache and Navajo Counties, Arizona and McKinley and San Juan Counties, New Mexico">
                      Fort Defiance Area, Parts of Apache and Navajo Counties
                    </option>
                </select><br/>
            </div>
            <div class="col-md-1">

            </div>
        <!-- </div> -->
          </div><!-- row -->
          <br>
          <br>
          <button class="btn btn-success" ng-click="soilErrosionPrevention()">Get Results</button>
          <br>
          <br>
          <div id="modelSoilErosion" ng-model="modelSoilErosion" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
          <br>
          <br>
      </div><!-- container -->
    </section><!-- section -->



    <div class="container" id="contact" name="contact">

      <div class="row">
      <br>
        <h1 class="centered">GIVE US DATA FROM YOUR SIDE</h1>
        <br>
        <br>
        <div class="col-lg-4">
          <h3></h3>
          <p>
          </p>
        </div><!-- col -->

        <div class="col-lg-4">
          <h3>Feedback area</h3>
          <p></p>
          <p>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputEmail1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="state" placeholder="State" ng-model="state">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="county" placeholder="County" ng-model="county">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="crop" placeholder="Which crop you took" ng-model="crop">
                </div>
              </div>

              <div class="form-group">
                <label for="inputEmail1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">

                  <input type="Number" class="form-control" id="yield" placeholder="Yield" ng-model="yield">
                  <label for="inputEmail1" class="control-label">Yield Unit:</label>
                  <select placeholder="select tons or crates" class="form-control" ng-model="yieldUnit">
                      <option>tons</option>
                      <option>crates</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="Number" class="form-control" id="irrigation" placeholder="Irrigation" ng-model="irrigation">
                  <label for="inputEmail1" class="control-label">Irrigation area:</label>
                  <select placeholder="Choose area" class="form-control" ng-model="irrigationArea">
                      <option>per square feet</option>
                      <option>per square meter</option>
                  </select>
                  <label for="inputEmail1" class="control-label">Irrigation Frequency:</label>
                  <select placeholder="Select a frequency" class="form-control" ng-model="irrigationFrequency">
                      <option>daily</option>
                      <option>weekly</option>
                      <option>monthly</option>
                  </select>
                </div>
              </div>
              <div class="form-group">

                                  <div class="g-recaptcha" data-sitekey="6LcRjQ4UAAAAADJYmlqIE65ttck6k3U7F2yltlWY"></div>

                <div class="col-lg-10" style="padding-left: 30%;">
                  <button type="submit" class="btn btn-success" ng-click="submitData()" style="">Submit data</button>

                </div>

              </div>
              <br/>
              <br/>
              <br/>

             </form><!-- form -->
          </p>
        </div><!-- col -->
      </div>
    </div>


        <!-- ==== TEAM MEMBERS ==== -->
    <div id="greywrap">
        <div class="container"  name="team">
        <br>
          <div class="row white centered">
            <h1 class="centered">MEET OUR AWESOME TEAM</h1>
            <hr>
            <br>
            <br>
            <div class="col-lg-3 centered">
              <img class="img img-circle" src="{{ url_for('static', filename='img/team/team01.jpg')}}" height="120px" width="120px" alt="">
              <br>
              <h4><b>Ajay Tanpure</b></h4>
              <p style="color: black;">Ajay combines an expert technical knowledge with a real eye for design. Working with clients from a wide range of industries, he fully understands client objectives when working on a project, large or small.</p>
            </div><!-- col-lg-3 -->

            <div class="col-lg-3 centered">
              <img class="img img-circle" src="{{ url_for('static', filename='img/team/team02.jpg')}}" height="120px" width="120px" alt="">
              <br>
              <h4><b>Niranjan Tungatkar</b></h4>
              <p style="color: black;">Niranjan is an experienced marcoms practitioner and manages projects from inception to delivery. He understands the synergy between great design and commercial effectiveness which shines through on every project.</p>
            </div><!-- col-lg-3 -->

            <div class="col-lg-3 centered">
              <img class="img img-circle" src="{{ url_for('static', filename='img/team/team03.jpg')}}" height="120px" width="120px" alt="">
              <br>
              <h4><b>Rohan Kankapurkar</b></h4>
              <p style="color: black;">Be a creative director is a hard task, but Michele loves what she does. Her combination of knowledge and expertise is an important pillar in our agency.</p>
            </div><!-- col-lg-3 -->

            <div class="col-lg-3 centered">
              <img class="img img-circle" src="{{ url_for('static', filename='img/team/team04.jpg')}}" height="120px" width="120px" alt="">
              <br>
              <h4><b>Darshan Sapaliga</b></h4>
              <p style="color: black;">Darshan began making websites when animated logos and scrolling text were cool, but has since found a love for simplicity, creating websites that are a pleasure to browse. Monkey Island Fan.</p>
            </div><!-- col-lg-3 -->

          </div><!-- row -->
        </div><!-- container -->
      </div>



</div>
    </html>